.popup_frame{
    position: absolute;
    align-items: center;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 65%;
    margin-top: 25%;
}

.popup_box{
    background-color: white;
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: 1px 1px 10px black;
}

.icons{
    width: 90%;
    align-content: center;
    margin: auto;
    align-items: center;
    padding-top: 20px;
}

.icon{
    margin: auto;
    text-align: -webkit-center;
}

.image{
    border-radius: 10px;
}

.title{
    width: 90%;
    align-self: center;
    text-align: -webkit-center;
}

.placeText{
    width: 90%;
    align-self: center;
    font-size: 1.5vh;
}

.titleHeader{
    font-weight: bold;
    font-size: 2vh;
    align-self: center;
}

.placeImage{
    width: 90%;
    align-self: center;
    margin: 10px;
    text-align: -webkit-center;
}

.placeName{
    color: #85D4C6;
    font-size: large;
    font-weight: bold;
}

.skipButton{
    width: 90%;
    background-color: white;
    border-radius: 10px;
    border: solid 2px black;
    height: 5vh;
    font-weight: bold;
    align-self: center;
}

.readButton{
    width: 90%;
    background-color: #5CEED4;
    border-radius: 10px;
    height: 5vh;
    font-weight: bold;
    align-self: center;
}

.placeInfo{
    width: 90%;
    align-self: center;
}

.buttons{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px;
}
























.popup_frame2{
    position: absolute;
    align-items: center;
    z-index: 999;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
    height: 80%;
    margin-top: 25%;
}

.popup_box2{
    background-color: white;
    width: 90%;
    height: 100%;
    margin: auto;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: 1px 1px 10px black;
}

.icons2{
    width: 90%;
    height: 10%;
    align-content: center;
    margin: 0 auto;
    align-items: center;
    padding-top: 20px;
    
}

.icon2{
    height: 100%;
    margin: auto;
    text-align: -webkit-center;
}

.image2{
    border-radius: 10px;
}

.section{
    width: 90%;
    align-self: center;
    text-align: -webkit-center;
    margin: 10px auto;
}

.description{
    width: 90%;
    align-self: left;
    text-align: -webkit-left;
    margin: auto;
    color: var(--sage-900, #424941);

/* Body 2/Regular */
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.375rem; /* 157.143% */
}

.sectionFlex{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: -webkit-center;
}

.listenButton{
    border: solid 1px #33797A;
    border-radius: 50px;
    width: 55%;
    font-size: large;
}

.placeText2{
    width: 90%;
    align-self: center;
    font-size: 1.5vh;
}

.titleHeader2{
    font-weight: bold;
    font-size: 2vh;
    align-self: center;
}

.placeImage2{
    width: 90%;
    align-self: center;
    margin: 10px auto;
    text-align: -webkit-center;
}

.placeName2{
    color: #292113;
    font-size: large;
    font-weight: bold;
}

.putBackButton{
    width: 100%;
    background-color: #A78412;
    border-radius: 10px;
    height: 5vh;
    font-weight: bold;
    align-self: center;

/* Body 2/Regular */
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: 1.375rem; /* 157.143% */
}

.placeInfo2{
    width: 90%;
    align-self: center;
    margin-bottom: 10px;
}

.buttons2{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px auto;
    padding-bottom: 20px;
}

.scroll{
    overflow-y: scroll;
}