.frame{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}

.background{
    width: 100%;
    height: auto;
}

.challangePanel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1001;
    justify-content: space-around;
}
.responsePanel{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title{
    color: var(--sage-900, #424941);
    text-align: center;

    /* Headline/Bold */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    line-height: 32px;    
}
.subtitle{
    color: var(--sage-900, #424941);
    text-align: center;

    /* Body 2/Regular */
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */   
    width: 80%; 
    margin: 0 auto;
}
.descriptionText{
    color: var(--sage-900, #424941);
    text-align: center;

    /* Body 1/Medium */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.subText{
    color: var(--sage-900, #424941);
    text-align: center;
    
    /* Label 1/Regular */
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    
    
}
.mainImagePanel{
    width: 13.53713rem;
    height: 11.16125rem;
    margin: 0 auto;
}
.mainImage  {
    width: 13.53713rem;
    height: 11.16125rem;
}
.optionImagesPanel{
    width: 19.53713rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
}

.optionImagePanel{
    width: 30%;
}

.optionImage{
    border-radius: 10px;
}
.smallImages{
    display: flex;
    width: 19.0625rem;
    flex-direction: column;
    align-items: center;
    gap: 1.06625rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px auto;
    width: 100%;
}
.submitButton{
    display: flex;
    height: 3.5rem;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
    border-radius: 0.625rem;
    background: var(--turqoise-100, #89C9C4);
    width: 13.53713rem;
    margin: 0 auto;
    font-weight: bold;
    font-size: large;
}

.retryButton{
    display: flex;
    height: 3.5rem;
    padding: 0.625rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.375rem;
    align-self: stretch;
    border-radius: 0.625rem;
    border: 1px solid var(--sage-900, #424941);
    width: 13.53713rem;
    margin: 0 auto;
    font-weight: bold;
}

.responseKindle{
    margin: 0 auto;
}